<div class="footer">
  <div class="container-fluid">
    <div class="row">

         <div class="col-xs-12 col-sm-3 col-md-3">
          <ul class="list-unstyled list-footer">
              <li class="list-title">
                <%= link_to legal_path do %>
                  <p>Mentions légales</p>
              </li>
              <% end %>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <ul class="list-unstyled list-footer">
              <li class="list-title">
                <%= link_to contact_path do %>
                  <p>Contactez-moi</p>
              </li>
              <% end %>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <ul class="list-unstyled list-footer">
              <li class="list-title">
                <%= link_to about_path do %>
                  <p>Qui je suis !</p>
              </li>
              <% end %>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <ul class="list-unstyled list-inline list-footer">
              <li class="list-title">
                <a href="https://www.facebook.com/bosserenpyj" target="_blank">
                  <i class="fa fa-facebook-official fa-2x"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/bosserenpyj" target="_blank">
                  <i class="fa fa-twitter fa-2x"></i>
                </a>
            </li>
             <li>
              <a href="#" >
                <i class="fa fa-youtube fa-2x"></i>
              </a>
            </li>
          </ul>
        </div>
    </div>

        <div class="line-separator col-xs-12 col-sm-4 col-sm-offset-4"></div>
        <div class="copyright row text-center" id="footer-heart">
            <p>Créé avec <i class="fa fa-heart"></i> dans mon lit</p>
        </div>
  </div>
</div>

