<div class="coverhome">
  <div class="coverhome-filter">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="separator">
            <h1>
              Créé le site web de tes rêves
            </h1>
            <h1>
              avec bosser en pyj'
            </h1>
          </div>
          <ul class="list-unstyled list-inline">
            <li>
              <%= link_to about_path do %>
              <div class="btn btn-default btn-top">
                <h5>Je commence</h5>
              </div>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" cover-slide-two ">
  <div class="coverhome-filter-one">
    <div class="container-fluid">
      <div class="row">
        <h1>RECEVEZ MES DERNIERES NEWS </h1>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <ul class="list-unstyled list-inline">
            <li class="training-section">
              <%= link_to "Je m'inscris à la Dreamsletter", "#", class:'subscribe-button subscribe-democlass', target: '_blank' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cover-slide-three">
  <div class="coverhome-filter-one">
    <div class="container-fluid">
      <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12">

              <div class="training-section">
                <%= link_to "En savoir plus", "https://synestasia.typeform.com/to/jwIhSA", class:'subscribe-button subscribe-training', target: '_blank' %>
              </div>

          </div>
      </div>
    </div>
  </div>
</div>






