<div class="coverhome">
  <div class="coverhome-filter">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="separator">
            <h1>
              Crééz votre site web
            </h1>
          </div>
          <ul class="list-unstyled list-inline">
            <li>
              <%= link_to start_path do %>
              <div class="btn btn-default btn-top">
                <h5>Je commence</h5>
              </div>
            <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" cover-slide-two ">
  <div class="coverhome-filter-one">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">

          <h1>RECEVEZ MES DERNIERES NEWS</h1>
            <%= link_to about_path do %>
            <div class="btn btn-default btn-mid">
              <h5>Click click click</h5>
              </div>
            </div>
          <% end %>

          <!-- Large modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-lg">
            <div class="modal-content">
              ...
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="cover-slide-three">
  <div class="coverhome-filter-one">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h1>Une sélection de sites </h1>
              <h2>Qui va vraiment vous aider !</h2>
            <div class="training-section">
              <%= link_to "En savoir plus", "https://synestasia.typeform.com/to/jwIhSA", class:'subscribe-button subscribe-training', target: '_blank' %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
 -->



