<% if current_user %>
  <div class="card-fav">
    <% if post.is_faved_by(current_user) %>
      <%= link_to "#" do %>
        <i class="fa fa-heart faved faved-on" id ="<%=post.id%>"></i>
      <% end %>
    <% else %>
      <%= link_to "#" do %>
        <i class="fa fa-heart faved faved-off" id ="<%=post.id%>"></i>
      <% end %>
    <% end  %>
  </div>
<% end %>
