<div class="container-formpost">
  <div id="home-articles">
    <div class="container">
      <div class="row">
        <div class="text-center separ-blog">

           <div class="search-form">
      <%= simple_form_for :search, url: posts_path, method: :get, :html => { :class => 'form-inline' } do |f| %>
        <%= f.input :query, label: false, placeholder: "" %>
          <%= f.submit "Rechercher",  class: "btn btn-sucess" %>
      <% end %>
    </div>
          <h1>Lisez mes derniers articles</h1>
        </div>
        <ul>
          <% @posts.each do |post| %>
            <li class=" col-sm-12 col-xs-6 col-md-4 container-cards">
              <%= render 'postuser', post: post %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
