.container-login {
  .form-login {
    margin-top:25px;
    margin-bottom:25px;
  }
}


#name-profile h1 {
  font-weight: 300;
  font-size: 30px;
}

.form-one {
  padding-top: 20px;

  img {
      width: 100px;
      border-radius: 50%;
    }

  .fa-linkedin, .fa-facebook-square, .fa-twitter {
  color: #3DC3CB;
  }

  .friend-picture img {
      width: 40px;
      border-radius: 50%;
    }

  .tiny-space {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .mini-space {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

#all-users p {
  text-align: center;
}

.container-buddies {

  background-color: #f1f1f1;
  padding: 0;
  position: relative;

  .form-bg1 {
    position: relative;
    border:1px solid #fff;
    margin-bottom: 130px;
    width: 100%;
    height: 100%;
  }

  .form-three {
    padding-top: 20px;
  }

  .form-buddy {
    background-color: #fff;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    margin-top: 40px;
    margin-bottom: 70px;
  }

  img {
    border-radius: 50px;
    width: 50px;
  }

 h3 {
    font-weight: 300;
  }
}


